@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;500;900&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

/* Background color body and layout settings */
body {
    background-color: rgba(29, 22, 121, 0);
    width: 90%;
    margin: auto;
    /* font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif; */
}

/* Style header. Including nav, list, logo, and right part header 
    using Flexbox and positioning settings for the header */
header,
header ul,
header li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 10px 40px 10px 10px;
}

nav a {
    color: #696369;
    text-decoration: none;
}

nav a :hover {
    color: #529F0F;
    text-decoration: none;
    box-shadow: 0 1px 0px 0px rgb(14, 231, 25);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

/* Style main. Including all the sections, their elements and subelements styles, else contain the footer */
main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Section of the image and the main title. */
section.one {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    gap: 0px;
    width: 100%;
    min-height: 615px;
    background-image: url(Imags/slider-2.jpg);
    background-position: center center;
    background-size: cover;
}

/* Sub-elementos of the section.one */
h1 {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 100;
}

a {
    text-decoration: underline;
    color: black;
    font-weight: 900;
}

/* Style discounts. Including discounts section  */
section.two-discounts {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    gap: 40px;
    padding: 10px;
    margin-bottom: 5%;
}

/* Div with class discount-1 and dicount-2.*/
.discount-1 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: auto;
    padding: 45px 0px 45px 20px;
    background-image: url(Imags/banner-1.png);
    background-position: center center;
}


/* Div with class discount-1 and dicount-2.*/
.discount-2 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-items: flex-start;
    margin: auto;
    padding: 45px 0px 45px 20px;
    background-image: url(Imags/banner-2.png);
    background-position: center center;
}

/* Subelemento of the Div 'discount-1' */
.discount-1 h3,
.discount-2 h3 {
    color: green;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

.discount-1 p,
.discount-2 p {
    font-family: 'Lora', serif;
}

/* Section with latest products */
section.three-latest-products {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    padding: 0px;
    background-image: url(Imags/bg-1.jpg);
    margin-bottom: 5%;

}

/* Header section */
.head_section_three {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 2%;

}

.head_section_three h2 {
    font-family: 'Playfair Display', serif;
}

.head_section_three p {
    font-family: 'Lora', serif;
}

/* Div with images of the products latest */
.latest_imges {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 2%;
    padding: 0px 100px 0px 100px;
}

.latest_imges a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

/* Section with img, phrase, name */
section.four-phrase {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

section.four-phrase img {
    width: 5%;
}

section.four-phrase p {
    font-style: italic;
    font-size: 20px;
    width: 50%;
    font-family: 'Lora', serif;
}

section.four-phrase h4 {
    border: 0px;
    padding: 20px;
    font-size: 15px;
    font-weight: 900;
    color: black;
    font-family: 'Playfair Display', serif;
}


section.four-phrase span {
    color: gray;
    font-family: 'Lora', serif;
}

/* Section include the news products, witt their head and images products */
section.five-new-products {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
    padding: 20px;
    background-color: rgba(228, 228, 228, 0.555);
    margin-bottom: 0%;
}

.head_section_five {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 2%;
}

.head_section_five h2 {
    font-family: 'Playfair Display', serif;
}

.head_section_five p {
    font-family: 'Lora', serif;
}

.new_imges_products {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 2%;

}

.new_imges_products a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

/* Section with h2, input and buttom for typing the email, else adjust the background image
    using Flexbox and background image settings for the subscription section */
section.six-subscribe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    background-image: url(Imags/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35px;
    padding: 50px 0px 100px 0px;
    margin-bottom: 0%;
    width: 100%;
}

.text-email {
    display: flex;
    flex-flow: row nowrap;
}

section.six-subscribe h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
}

section.six-subscribe input {
    font-family: 'Lora', serif;
    width: 500px;
    height: 50px;
    background: none;
    border-right: 0px;
}

section.six-subscribe button {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: black;
    color: white;
}

/* Section with latest news, their header, imges, date, description and span*/
section.seven-latest-news {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 0px;
    padding: 0px;
    background-image: url(Imags/bg-1.jpg);
    margin-bottom: 0%;
    width: 100%;
}

.head_section_seven {
    font-family: 'Playfair Display', serif;
    margin: 2% 0% 2% 0%;
    text-align: center;
}

.new_imges_latest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin-bottom: 2%;
}

.new_imges_latest h3 {
    font-family: 'Work Sans', sans-serif;
}

.new-1 {
    flex: 0 0 25%;
}

.date {
    color: green;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}

.description {
    font-family: 'Lora', serif;
    width: 60%;
}

.new-1 span {
    font-weight: 800;
    text-decoration: underline;

}

/* Div with images of the products brands
    using Flexbox and styling settings for the brands div */
.brands {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 100px 0px 100px 0px;
}

.brands img {
    min-width: 25%;
}

/* Style footer. Including div for store list and div for last foot page with payments. */
footer {
    width: 100%;
}

.cont-foot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    gap: 100px;
}

.cont-foot ul li {
    font-family: 'Lora', serif;
    text-decoration: none;
    list-style: none;
    padding: 0px 0px 10px 0px;
    color: #a09fa0;
}

.list-header {
    font-weight: 900;
    font-size: medium;
    color: black;
}

.numbers-foot {
    padding: 20px 10px 20px 0px;
}

.pay {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #a09fa038;
    font-family: 'Lora', serif;
}

.pay img {
    width: 2.3%;
}

.payment img {
    width: 100%;
}

/* Responsive media queries for different screen sizes */

/* Adjusting styles for screen sizes up to 1670px */
@media screen and (max-width: 1670px) {

    h1 {
        justify-content: center;
        margin-top: 12%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 60px;
        font-weight: 100;
    }

    a {
        text-decoration: underline;
        color: black;
        font-weight: 900;
    }

    .new_imges_latest {
        flex-flow: row wrap;
        gap: 20px;

    }

    .new-1 {
        margin-bottom: 2%;
    }

    .description {
        width: 40%;
    }


    .brands {
        flex-flow: row wrap;
    }

    .brands img {
        min-width: 25%;
    }

    footer {
        width: 100%;
    }

    .cont-foot {
        flex-flow: row wrap;
        justify-content: center;
    }
}

/* Adjusting styles for screen sizes up to 1398px */
@media screen and (max-width: 1398px) {

    nav {
        display: none;
    }

    header {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .logo {
        position: static;
        transform: none;
    }

    .latest_imges {
        justify-content: center;
        flex-flow: row wrap;
        padding: 0px;

    }


}

/* Adjusting styles for screen sizes up to 968px */
@media screen and (max-width: 968px) {

    header {
        flex-flow: row;
        align-items: center;
    }

    section.one {
        margin: auto;
        gap: 0px;
        width: 100%;
        min-height: 505px;
    }

    h1 {
        margin-top: 30%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 40px;
        font-weight: 100;
    }

    a {
        text-decoration: underline;
        color: black;
        font-weight: 900;
    }

    section.two-discounts {
        flex-flow: row wrap;

    }

    .head_section_three {
        width: 70%;
    }

    section.four-phrase p {
        width: 80%;
    }

    .head_section_five p {
        text-align: center;
        width: 200%;

    }

    section.six-subscribe input {
        width: auto;
        height: 50px;
        background: none;
        border-right: 0px;
    }

    section.six-subscribe button {
        text-align: center;
        background-color: black;
        color: white;
    }

    .brands img {
        padding: 15px;
    }

    .cont-foot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .cont-foot ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 0px;

    }

    .pay {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #a09fa038;
        padding: 10px 0px 20px 0px;
    }

    .payment img {
        width: 100%;
    }

}

/* Adjusting styles for screen sizes up to 528px */
@media screen and (max-width: 528px) {
    section.one {
        margin: auto;
        gap: 0px;
        width: 100%;
        min-height: 505px;
    }

    h1 {
        margin-top: 50%;
        text-align: center;
        font-size: 35px;
        font-weight: 100;
    }

    a {
        text-decoration: underline;
        color: black;
        font-weight: 900;
        margin-bottom: 40%;
    }

    header {
        flex-flow: row;
        align-items: center;
    }

    .new_imges_latest {
        flex-flow: row wrap;


    }

    .new-1 {
        margin-bottom: 2%;
    }

    .description {
        width: 80%;
    }

}