body {
    margin-top: 0%;
    background-color: rgba(29, 22, 121, 0);
    width: 90%;
    margin: auto;
}

/* Style header */
header,
header ul,
header li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 10px 50px 10px 10px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

/* Style main */
main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

section.one {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    gap: 0px;
    width: 100%;
    min-height: 615px;
    background-image: url(Imags/slider-2.jpg);
    background-position: center center;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    margin-bottom: 0px;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
}

a {

    text-decoration: underline;
    color: black;
    font-weight: 900;
}

/* Style discounts */
section.two-discounts {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    gap: 40px;
    padding: 10px;
    margin-bottom: 5%;
}

.discount-1 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: auto;
    padding: 45px 0px 45px 20px;
    background-image: url(Imags/banner-1.png);
    background-position: center center;
}

.discount-1 h3 {
    color: green;
    font-size: 40px;
}

.discount-2 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-items: flex-start;
    margin: auto;
    padding: 45px 0px 45px 20px;
    background-image: url(Imags/banner-2.png);
    background-position: center center;

}

.discount-2 h3 {
    color: green;
    font-size: 40px;
}

section.three-latest-products {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    padding: 0px;
    background-image: url(Imags/bg-1.jpg);
    margin-bottom: 5%;
}

.head_section_three {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 2%;
}

.latest_imges {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 2%;
    padding: 0px 100px 0px 100px;
}

section.four-phrase {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

section.four-phrase img {
    width: 5%;

}

section.four-phrase p {
    font-style: italic;
    font-size: 20px;
    width: 50%;
}

section.four-phrase fieldset {
    padding: 20px;
    font-size: 15px;
    font-weight: 900;
    color: black;
}

section.four-phrase span {
    color: gray;
}

section.five-new-products {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
    padding: 20px;
    background-color: rgba(228, 228, 228, 0.555);
    margin-bottom: 0%;
}

.head_section_five {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 2%;
}

.new_imges {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 2%;
}

section.six-subscribe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    background-image: url(Imags/bg-2.jpg);
    background-position: 35%;
    padding: 50px 0px 100px 0px;
    margin-bottom: 0%;
    width: 100%;
}

.text-email {
    display: flex;
    flex-flow: row nowrap;
}

section.six-subscribe h2 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
}

section.six-subscribe input {
    width: 500px;
    height: 50px;
    background: none;
    border-right: 0px;
}

section.six-subscribe button {
    text-align: center;
    background-color: black;
    color: white;
}

section.five-latest-news {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
    padding: 50px;
    background-color: rgba(228, 228, 228, 0.555);
    margin-bottom: 0%;
}

section.seven-latest-news {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
    padding: 0px;
    background-image: url(Imags/bg-1.jpg);
    margin-bottom: 0%;
    width: 100%;
}

.head_section_seven {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 2%;

}

.new_imges {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 2%;
}

/* Responsive */

@media screen and (max-width: 1670px) {

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 12%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 60px;
        font-weight: 100;
    }

    a {
        text-decoration: underline;
        color: black;
        font-weight: 900;
    }
}

@media screen and (max-width: 1398px) {

    nav {
        display: none;
    }

    header {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .logo {
        position: static;
        transform: none;
    }

    .latest_imges {
        justify-content: center;
        flex-flow: row wrap;
        padding: 0px
    }

}

@media screen and (max-width: 968px) {

    header {
        flex-flow: row;
        align-items: center;
    }

    section.one {
        margin: auto;
        gap: 0px;
        width: 100%;
        min-height: 505px;
    }

    h1 {
        margin-top: 30%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 40px;
        font-weight: 100;
    }

    a {
        text-decoration: underline;
        color: black;
        font-weight: 900;
    }

    section.two-discounts {
        flex-flow: row wrap;

    }

    .head_section_three {
        width: 70%;
    }

    section.four-phrase p {
        width: 80%;
    }

    .head_section_five p {
        text-align: center;
        width: 200%;

    }

    section.six-subscribe input {
        width: auto;
        height: 50px;
        background: none;
        border-right: 0px;
    }

    section.six-subscribe button {
        text-align: center;
        background-color: black;
        color: white;
    }

}


@media screen and (max-width: 528px) {
    section.one {
        margin: auto;
        gap: 0px;
        width: 100%;
        min-height: 505px;
    }

    h1 {
        margin-top: 50%;
        text-align: center;
        font-size: 35px;
        font-weight: 100;
    }

    a {
        text-decoration: underline;
        color: black;
        font-weight: 900;
        margin-bottom: 40%;
    }

    header {
        flex-flow: row;
        align-items: center;
    }
}