@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;500;900&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

/* font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif; */

/* Background color body and layout settings */
body {
    background-color: rgba(29, 22, 121, 0);
    width: 90%;
    margin: auto;
}

/* Style header. Including nav, list, logo, and info user part header 
    using Flexbox and positioning settings for the header */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 5px 0px;
}

nav ul,
nav li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

nav li {
    position: relative;
    padding: 20px 40px 20px 15px;
}


nav li::after {
    content: "";
    display: block;
    height: 5px;
    background-color: transparent;
}

nav li:hover::after {
    background-color: #529F0F;
}

nav a {
    font-weight: 600;
    text-decoration: none;
    color: #7c717c;
}

nav a:hover {
    color: #529F0F;

}

nav li:hover {
    color: #529F0F;
    box-shadow: 0 1px 0px rgba(14, 231, 25, 0.5);
    padding-bottom: 20px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.info-user {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 10px;
}

/* Style main. Including all the sections, their elements and subelements styles, else contain the footer */
main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Section of the image and the main title. */
section.hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    min-height: 615px;
    background-image: url(Imags/slider-2.jpg);
    background-position: center center;
    background-size: cover;
}

/* Sub-elementos of the section.hero */
section.hero h1 {
    margin-top: 12%;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 100;
}

section.hero a,
section.hero button {
    all: unset;
    text-decoration: underline;
    color: black;
    font-weight: 900;
}

/* Style discounts. Including discounts section  */
.two-discounts {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    gap: 40px;
    padding: 10px;
    margin-bottom: 5%;
}

/* article with style discount*/
article.discount-1,
article.discount-2 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: auto;
    background-position: center center;
    padding: 45px 0px 45px 20px;
}

article.discount-1 {
    background-image: url(Imags/banner-1.png);
}

article.discount-2 {
    background-image: url(Imags/banner-2.png);
}

/* Subelemento of the Div 'discount-1' */
.two-discounts h3 {
    color: green;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

article.discount-1 p,
article.discount-2 p {
    font-family: 'Lora', serif;
    color: black;
}

article.discount-1 a,
article.discount-2 a {
    text-decoration: none;
}

/* Section with latest products and section with new products */
section.latest-products,
section.five-new-products {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    background-image: url(Imags/bg-1.jpg);
    margin-bottom: 0%;
}

/* Header sections and ther subelements*/
.head_section {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 2%;
}

.head_section h2 {
    font-family: 'Playfair Display', serif;
}

.head_section p {
    font-family: 'Lora', serif;
}

/* article with images and subelements of news and latest products*/
.latest_images,
.new_imges_products {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 2%;
    width: 80%;
}

.latest_images a,
.new_imges_products a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
}

/* Section with img, phrase, name */
section.four-phrase {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4% 0% 4% 0%;
}

section.four-phrase img {
    width: 13%;
}

section.four-phrase p {
    font-style: italic;
    font-size: 20px;
    width: 50%;
    font-family: 'Lora', serif;
}

section.four-phrase h4 {
    font-size: 15px;
    font-weight: 900;
    color: black;
    font-family: 'Playfair Display', serif;
}

section.four-phrase span {
    color: gray;
    font-family: 'Lora', serif;
}

/* Section news products, the styles of the "latest products" section are reused for sub-elements.*/
section.five-new-products {
    background-color: rgba(228, 228, 228, 0.555);
}

/* Section with h2, input and buttom for typing the email, else adjust the background image
    using Flexbox and background image settings for the subscription section */
section.six-subscribe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    background-image: url(Imags/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35px;
    padding: 50px 0px 100px 0px;
    margin-bottom: 0%;
    width: 100%;
}

.text-email {
    display: flex;
    flex-flow: row nowrap;
}

section.six-subscribe h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
}

section.six-subscribe input {
    font-family: 'Lora', serif;
    width: 500px;
    height: 50px;
    background: none;
    border-right: 0px;
}

section.six-subscribe button {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: black;
    color: white;
}

/* Section with latest news, their header, imges, date, description and span*/
section.seven-latest-news {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 0px;
    padding: 0px;
    background-image: url(Imags/bg-1.jpg);
    margin-bottom: 0%;
    width: 100%;
}

.new_images_latest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin-bottom: 2%;
}

.new_images_latest h3 {
    font-family: 'Work Sans', sans-serif;
}

article.new-1 {
    flex: 0 0 25%;
}

article.new-1 span {
    font-weight: 800;
    text-decoration: underline;
}

.date {
    color: green;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}

.description {
    font-family: 'Lora', serif;
    width: 60%;
}

/* Div with images of the products brands
    using Flexbox and styling settings for the brands div */
.brands {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 100px 0px 100px 0px;
}

.brands img {
    min-width: 25%;
    padding: 10px;
}

/* Style footer. Including div for store list and div for last foot page with payments. */
footer {
    width: 100%;
}

.cont-foot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    gap: 100px;
    margin-bottom: 5%;
}

.cont-foot ul li {
    font-family: 'Lora', serif;
    text-decoration: none;
    list-style: none;
    padding: 0px 0px 10px 0px;
    color: #a09fa0;
}

.list-header {
    font-weight: 900;
    font-size: medium;
    color: black;
}

.numbers-foot {
    margin: 15px;
}

.pay {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #a09fa038;
    font-family: 'Lora', serif;
}

.pay img {
    width: 2.3%;
}

.payment img {
    width: 100%;
}

/* Responsive media queries for different screen sizes */

/* Adjusting styles for screen sizes up to 1670px */
@media screen and (max-width: 1670px) {

    body {
        margin-top: 1%;
    }

    nav {
        width: 10%;
        font-size: smaller;
    }

    nav li {
        padding: 0px 40px 0px 0px;
    }

    .new_images_latest {
        gap: 20px;

    }

    article.new-1 {
        margin-bottom: 2%;
    }

    .description {
        margin-left: 0px;
        width: auto;
    }

    .brands {
        flex-flow: row wrap;
    }

    footer {
        width: 100%;
    }

    .cont-foot {
        flex-flow: row wrap;
        justify-content: center;

    }
}

/* Adjusting styles for screen sizes up to 1398px */
@media screen and (max-width: 1398px) {

    nav li {
        padding: 0px 15px 0px 0px;
    }

    .logo {
        position: static;
        transform: none;
    }

    .two-discounts {
        flex-flow: column wrap;

    }

    .two-discounts h3,
    p {
        margin-left: 150px;
    }

    .discount-1,
    .discount-2 {
        background-repeat: no-repeat;

    }
}

/* Adjusting styles for screen sizes up to 968px */
@media screen and (max-width: 968px) {

    nav {
        display: none;
    }

    header {
        flex-flow: row;
        align-items: center;
    }

    section.hero h1 {
        margin-top: 30%;
        text-align: center;
        font-size: 40px;
        font-weight: 100;
    }

    .two-discounts {
        flex-flow: row wrap;
        width: 80%;
    }

    .two-discounts h3,
    p {
        margin-left: 40px;
        color: rgb(14, 48, 9);
    }

    .head_section {
        width: 80%;
    }

    section.four-phrase p {
        width: 80%;
    }

    section.six-subscribe input {
        width: auto;
    }

    .cont-foot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .pay {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #a09fa038;
        padding: 10px 0px 20px 0px;
    }

    .payment img {
        width: 100%;
    }

}

/* Adjusting styles for screen sizes up to 528px */
@media screen and (max-width: 528px) {

    section.hero h1 {
        margin-top: 50%;
    }

    .two-discounts h3,
    p {
        margin-left: 0px;
    }
}