@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;500;900&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

/* font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif; */

/* Background color body and layout settings */
body {
    background-color: rgba(29, 22, 121, 0);
    margin: auto;
    margin-top: 1%;
}

/* Style header. Including nav, list, logo, and right part header 
    using Flexbox and positioning settings for the header */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-bottom: 1%;
    align-items: center;
}

nav {
    display: flex;
    flex-flow: row-reverse;
    text-align: center;
    border-right: 2px black solid;
    max-height: 5px;
    padding: 0px 40px 10px 0px;
    font-weight: 600;
}

nav ul,
nav li {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

nav li {
    position: relative;
    padding: 0px 20px 20px 20px;
}

nav li::after {
    content: "";
    display: block;
    height: 5px;
    background-color: transparent;
}

nav li:hover::after {
    background-color: #529F0F;
}

nav a {
    text-decoration: none;
    color: #7c717c;
}

nav a:hover {
    color: #529F0F;
}

nav li:hover {
    box-shadow: 0 1px 0px rgba(14, 231, 25, 0.5);
    padding-bottom: 20px;
}

.logo {
    margin-right: 40%;
}

.info-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}



/* Style main. Including all the sections, their elements and subelements styles, else contain the footer */
main {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

section.title-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    gap: 0px;
    width: 100%;
    min-height: 500px;
    background-image: url(Imags/taza-background.jpg);
    background-position: center bottom;
    background-size: cover;
}

/* Sub-elementos of the section.one */
section.title-main h1 {
    display: flex;
    justify-content: center;
    margin-top: 11.5%;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 100;
    color: aliceblue;
}

section.title-main p {
    font-family: 'Playfair Display', serif;
    color: white;
    margin-left: 40px;
    font-size: larger;
}

.product-presentation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    width: 80%;
    margin: auto;
    margin-top: 3%;

}

.details {
    display: flex;
    flex-flow: column;
    padding-bottom: 2.5%;
    border-bottom: 1px solid gray;
    width: 40%;
}

.details h2 {
    color: #a09fa0;
    margin-bottom: 0;
}

.details span {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: 500;
}

.reviews {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.reviews p {
    font-family: 'Lora', serif;
    padding: 10px;
}

.available {
    font-family: 'Lora', serif;
    display: flex;
    gap: 5px;
}

.option {
    display: flex;
    flex-flow: row nowrap;
}

.option p {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0px 0px 0px 5px;
}

.text-var {
    color: green;
}

.images img {
    border: 1px gray solid;
    padding: 100px;
}

/* Style footer. Including div for store list and div for last foot page with payments. */
footer {
    margin-top: 30%;
    width: 100%;
}

.cont-foot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    gap: 100px;
}

.cont-foot ul li {
    text-decoration: none;
    list-style: none;
    padding: 0px 0px 10px 0px;
    color: #a09fa0;
}

.list-header {
    font-weight: 900;
    font-size: medium;
    color: black;
}

.numbers-foot {
    padding: 20px 10px 20px 0px;
}

.pay {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #a09fa038;
}

.pay img {
    width: 2.3%;
}

.payment img {
    width: 100%;
}