@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;500;900&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

/* Background color body and layout settings */
body {
    background-color: rgba(29, 22, 121, 0);
    margin: auto;
    margin-top: 1%;
}

/* Style header. Including nav, list, logo, and right part header
    using Flexbox and positioning settings for the header */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-bottom: 1%;
}

.logo {
    margin-right: 40%;
}

nav {
    display: flex;
    flex-flow: row-reverse;
    text-align: center;
    border-right: 2px black solid;
    max-height: 5px;
    padding: 0px 40px 10px 0px;
    font-weight: 600;
}

nav ul,
nav li {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

nav li {
    position: relative;
    padding: 0px 20px 20px 20px;
}

nav li::after {
    content: "";
    display: block;
    height: 5px;
    background-color: transparent;
}

nav li:hover::after {
    background-color: #529F0F;
}

nav a {
    text-decoration: none;
    color: #7c717c;
}

nav a:hover {
    color: #529F0F;
}

nav li:hover {
    box-shadow: 0 1px 0px rgba(14, 231, 25, 0.5);
    padding-bottom: 20px;
}

.info-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

/* Style main. Including all the sections, their elements and subelements styles, else contain the footer */
main {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.title-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-image: url(Imags/taza-background.jpg);
    background-position: center bottom;
    background-size: cover;
}

/* Sub-elementos of the section.one */
.title-main h1 {
    display: flex;
    justify-content: center;
    margin-top: 8.5%;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 100;
    color: aliceblue;
}

.title-main p {
    font-family: 'Playfair Display', serif;
    color: white;
    margin-left: 40px;
    font-size: larger;
}

.product-presentation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 50%;
    margin: auto;
    margin-top: 3%;
}


/* Slider with their images*/
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-left: 0%;
    padding-right: 0%;
}

.main-image img {
    width: 100%;
    min-width: 500px;
    height: auto;
    box-shadow: 0 1px 4px rgba(84, 88, 85, 0.5);
}

.down-slider {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: auto;
    max-width: 600px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

.thumbnails img {
    width: auto;
    height: 80px;
    border: 2px solid #ddd;
    cursor: pointer;
}


/* Additional styles to highlight the selected image. */
.thumbnails img.active {
    border-color: rgb(29, 236, 5);
}

.prev-arrow,
.next-arrow {
    height: 100px;
    background-color: transparent;
    border: none;
}

.prev-arrow:hover,
.next-arrow:hover {
    color: rgb(29, 236, 5);
}


/* Details product */
.details {
    display: flex;
    flex-flow: column;
    padding-bottom: 2.5%;
    width: 40%;
}

.details h2 {
    color: #a09fa0;
    margin-bottom: 0;
}

.details span {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: 500;
}

.reviews,
.reviews p {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Lora', serif;
    padding: 10px;
}

.available {
    font-family: 'Lora', serif;
    display: flex;
    gap: 5px;
}

.options {
    display: flex;
    flex-flow: column wrap;
    border-bottom: 1px solid gray;
}

.options ul {
    padding-left: 0;
}

.options ul li {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.options li p {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0px 0px 0px 5px;
}

.text-var {
    color: green;
}

.tags {
    font-family: 'Lora', serif;
    padding: 0px;
    margin-bottom: 5%;
    font-size: smaller;
}

/* Styles for buttons redes */
.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 4px;
    width: 80%;

}

.buttons button {

    display: flex;
    justify-content: flex-start;
    width: auto;
    color: whitesmoke;
    flex: 1;
    align-items: center;
}

.buttons span {
    font-size: x-small;
}

.buttons img {
    width: 30%;
}

.twitter {
    border: 2px solid #159df1;
    background-color: #159df1;
}

.facebook {
    border: 2px solid #1877F2;
    background-color: #1877F2;
}

.google-plus {
    border: 2px solid #DB4437;
    background-color: #DB4437;
}

.pinterest {
    border: 2px solid #BD081C;
    background-color: #BD081C;
}

.more-info {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 3%;
    width: 60%;
}

.head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 50px;
    border-bottom: 1px solid gray;
}

.head h2 {
    cursor: pointer;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}



/* article with images and subelements of news and latest products*/
.related_products {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2%;
    width: 60%;
}

/* Header sections and ther subelements*/
.head_section {
    width: 100%;
}

.head_section h4 {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    text-decoration: underline;
    font-weight: 100;
}

.new_images_products {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.new_images_products img {
    border: 1px gray solid;
}

.related_products a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
}



/* Style footer. Including div for store list and div for last foot page with payments. */
footer {
    background-color: #8f878f36;
    margin-top: 2%;
    width: 100%;
}

.cont-foot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    gap: 100px;
    margin-bottom: 3%;
    margin-top: 3%;
}

.cont-foot ul li {
    font-family: 'Lora', serif;
    text-decoration: none;
    list-style: none;
    padding: 0px 0px 10px 0px;
    color: #a09fa0;
}

.list-header {
    font-weight: 900;
    font-size: medium;
    color: black;
}

.numbers-foot {
    margin: 15px;
}

.pay {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #a09fa038;
    font-family: 'Lora', serif;
}

.pay img {
    width: 2.3%;
}

.payment img {
    width: 100%;
}


/* Responsive media queries for different screen sizes */

/* Adjusting styles for screen sizes up to 1670px */
@media screen and (max-width: 1670px) {

    nav {
        width: 10%;
        font-size: smaller;
    }

    nav li {
        padding: 0px 40px 0px 0px;
    }

    .slider {
        width: auto;
    }

    footer {
        width: 100%;
    }

    .cont-foot {
        flex-flow: row wrap;
        justify-content: center;

    }
}

/* Adjusting styles for screen sizes up to 1398px */
@media screen and (max-width: 1398px) {

    nav li {
        padding: 0px 15px 0px 0px;
    }

    .logo {
        position: static;
        transform: none;
    }

    .new_images_products {

        flex-flow: row wrap;

    }
}

/* Adjusting styles for screen sizes up to 1070px */
@media screen and (max-width:1070px) {

    .title-main h1,
    .title-main p {
        color: #8a898a;
    }

    .product-presentation {
        flex-flow: row wrap;
    }

    .details {
        width: 80%;
        align-items: center;
    }
}

/* Adjusting styles for screen sizes up to 968px */
@media screen and (max-width: 968px) {

    nav {
        display: none;
    }

    header {
        flex-flow: row;
        align-items: center;
    }

    .cont-foot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .pay {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #a09fa038;
        padding: 10px 0px 20px 0px;
    }

    .payment img {
        width: 100%;
    }

}

/* Adjusting styles for screen sizes up to 528px */
@media screen and (max-width: 528px) {
    .logo {
        margin-right: auto;
    }

    .title-main {
        width: 100%;
    }

    .main-image img {
        width: 50%;
        min-width: 300px;
        height: auto;
    }

    .down-slider {
        width: 50%;
    }

    .down-slider {
        width: auto;
        max-width: 400px;
    }

    .details {
        width: auto;
        align-items: center;
    }


    .buttons img {
        width: 100%;
    }

    .buttons span {
        display: none;
    }
}